.home-container {
  width: 100%;
  padding: 10px 20px;
}

.home-container .title {
  font-size: 20px;
  color: blue;
  margin-bottom: 20px;
}

.home-container .wish-list {
  background-color: #f6ffed;
}

.home-container .tourist {
  background-color: #fff2e8;
}